:root {
    --bg-color: #1f2931;
    --secondary-color: #1f2931;
    --btn-bg-color: #bf1e22;
    --primary-color: #bf1e22;
    font-size: 62.5%;
}

html {
    scroll-behavior: smooth;
}

body {
    font-size: 1.6rem;
}

* {
    font-family: Epilogue !important;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    object-fit: contain;
}

/* .heroCarousel.v-carousel .v-item-group .v-carousel__controls__item.v-btn.v-btn--icon.v-btn--round.v-size--small {
    color: var(--primary-color);
}

.heroCarousel.v-carousel .v-item-group .v-carousel__controls__item.v-btn.v-btn--icon.v-btn--round.v-size--small:before {
    color: #fff;
} */

.v-slide-group__next {
    /* background-color: var(--secondary-color);
    height: 350px; */
}


.v-slide-group__prev i,
.v-slide-group__next i {
    color: var(--btn-bg-color) !important;
}

.v-application ul,
.v-application ol {
    padding-left: 0 !important;
}

.topNav {
    transition: all 0.3s linear !important;
}

.v-progress-circular__underlay {
    fill: var(--bg-color) !important;
}

.relative {
    position: relative !important;
}

.absolute {
    position: absolute !important;
}

.noImage {
    width: 100vw;
    height: 100%;
    background: linear-gradient(rgba(31.5, 31.5, 31.5, 0.5),
            rgba(31.5, 31.5, 31.5, 0.84));
}

h3.back {
    width: max-content;
    padding-right: 10px;
    cursor: pointer;
    color: var(--primary-color);
    display: flex;
    align-items: center;
    gap: 10px;
    margin: 0;
}

h3.back span {
    padding-top: 2px;
}

h3.back svg {
    fill: var(--primary-color);
    width: 20px;
    height: 20px;
}

h3.back:hover {
    color: var(--secondary-color);
    transition: color 0.3s linear;
}

h3.back:hover svg {
    fill: var(--secondary-color);
    transition: color 0.3s linear;
}

.viewMoreContainer {
    cursor: pointer;
    text-decoration: none;
}

.viewMoreContainer p {
    font-weight: 600;
    font-size: 1.6rem;
    text-transform: none;
    margin: 0 !important;
    color: var(--secondary-color);
}

.viewMoreContainer svg {
    width: 20px;
    height: 20px;
    margin-left: 5px;
    fill: var(--secondary-color);
}

.viewMoreContainer:hover p {
    color: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

.viewMoreContainer:hover svg {
    fill: var(--primary-color);
    transition: color 0.3s ease-in-out;
}

.contentrow {
    margin-left: 0 !important;
    margin-right: 0 !important;
}

.v-dialog.v-dialog--active.v-dialog--fullscreen:has(.imgCard),
.imgCard.v-card.v-sheet.theme--light {
    background-color: rgba(28, 33, 43, 0.7) !important;
    /* backdrop-filter: blur(5px); */
}

.imgCard:has(.modal_content) .modal_content {
    background-color: transparent !important;
}

#heroSection {
    margin-top: -60px;
}

.tabBarContainer {
    margin-bottom: 25px;
}

.tabBarContainer .tabHeader {
    /* width: 92%; */
    padding-left: 52px;
    margin: 15px 0;
    width: max-content;
}

.tabBarContainer .tabHeader header {
    font-size: 2rem;
    color: var(--secondary-color);
    font-weight: 600;
    padding-right: 12px;
}

.tabBarContainer .tabHeader .lineUnder {
    height: 4px;
    background-color: var(--primary-color);
    border-radius: 30px;
}

.flex_down {
    display: flex !important;
    flex-direction: column !important;
}

.flex_all_center {
    display: flex !important;
    justify-content: center;
    align-items: center;
}

.imgContainer {
    border-radius: 16px;
    overflow: hidden !important;
    height: 350px;
    width: 100%;
}

.imgContainer .video_ratings {
    z-index: 3;
    background-color: var(--btn-bg-color);
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    color: #fff;
    border-radius: 0 0 16px 0 !important;
    box-shadow: 0 4px 6px -1px rgb(0 0 0 / 10%), 0 2px 4px -1px rgb(0 0 0 / 6%);
    font-size: 1.2rem;
}

.imgContainer .overview {
    line-height: 1.5;
    width: 100%;
    bottom: 0;
    /* background-color: var(--secondary-color); */
    background: linear-gradient(rgba(31.5, 31.5, 31.5, 0.5),
            rgba(31.5, 31.5, 31.5, 0.84));
    padding: 12px;
    color: #fff;
    text-transform: none;
    text-align: left;
    font-size: 1.2rem;
    transform: translateY(100%);
    transition: 0.3s ease-in-out all;
    border-radius: 0 0 16px 16px;
}

.imgContainer .overview a {
    color: #fff;
}

.imgContainer .overview a:hover {
    color: var(--btn-bg-color);
}

.imgContainer img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 16px;
}

.imgContainer:hover img,
.imgContainer:hover .v-image__image--cover {
    transform: scale(1.1);
    filter: blur(2px);
    transition: all 0.5s ease-in-out;
}

.imgContainer.trending:hover img,
.imgContainer.trending:hover .v-image__image--cover {
    filter: none !important;
}

.imgContainer:hover .overview {
    transform: translateY(0);
}

.listingTab.v-tab {
    border-radius: 16px !important;
    cursor: auto !important;
    /* border: 1px solid red !important; */
    /* padding: 0 !important; */
}

.listingTab.v-tab:before,
.videoListingTab.v-tab:before {
    display: none !important;
}

.listingTag {
    margin-top: 10px;
    height: 50px;
}

.listingTag a {
    text-decoration: none !important;
}

.listingTag a:hover h3 {
    color: var(--primary-color);
}

.listingTag h3 {
    color: var(--secondary-color);
    font-size: 1.6rem;
    margin-bottom: 5px;
    font-weight: 600;
    text-transform: none;
    text-decoration: none !important;
}

.listingTag p {
    color: var(--secondary-color);
    font-size: 1.1rem;
    margin: 0;
}

/* pagination styles  */
.pagination_container {
    width: 70%;
    margin: 0 auto;
    margin-bottom: 15px;
}